@media print {
  .cards_horizontal {
    display: block;
  }

  table {
    border-collapse: collapse;
  }
  table td {
    border: solid 1pt gray;
  }
  .card {
    display: inline-block;
    font-size: 10pt;
    margin: 3pt;
    margin-bottom: 15pt;
    padding: 1pt;
    width: 45%;
  }
  .card_note {
    font-family: "Arial Narrow", sans-serif;
    font-size: 8pt;
    margin:0px;
  }
  .card .right {
    float: right;
  }

  .header {
    font-family: Arial Black, sans-serif;
    font-size: 8pt;
  }
  .card .header *{
    display: inline;
  }
   
  .table {
    border: solid 1pt gray;
    font-family: "Arial Narrow", sans-serif;
    font-size: 10pt;
  }
  .table .heading {
    border: solid 1pt gray;
    font-size: 8pt;
  }
  .table .heading .weight {
  }

  .table .heading * {
    background-color: lightgray;
    color: black;
    border: solid 1px gray;
  }
  .table .row {
    border-collapse: collapse;
  }
  .table .row .aligned {
    text-align: center;
  }
  .table .row .muscle {
    font-size: 8pt;
  }
  .table .row .exe_name {
    font-size: 9pt;
  }
  .table .row .weight {
    font-weight: bold;
    font-family: "Consolas";
  }
} 
/* end of media 'print'*/

/********************************************/
/*** SCREEN *********************************/
/********************************************/
@media screen {
  .cards_horizontal {
          display: block;
  }
  .container10 {
    margin: auto;
    padding: 5px 50px;
  }
  .card {
    display: inline;
    margin: 2%;
    padding: 1%;
    width: 43%;
  }
  .card_note {
    margin:0px;
    background-color: gray;
    font-family: "Arial Narrow", sans-serif;
  }
  .card .right {
    float: right;
  }

  .header {
    font-family: Arial Black, sans-serif;
    font-size: 8px;
  }
  .card .header *{
    display: inline;
  }

  .table {
    border: solid 1px black;
    border-collapse: collapse;
    font-family: "Arial Narrow", sans-serif;
  }
  .table .heading {
    background-color: #eee;
  }

  .table .heading * {
    border: solid 1px black;
    color: red;
  }
  .table .row {
    border: solid 1px black;
  }
  .table .row .aligned {
    text-align: center;
  }
  .table .row .small {
    font-size: 80%;
  }
  .table .row .muscle {
    width: auto;
  }
  .table .row .exe_name {
    width: auto;
  }
  table {
  }
  table td {
    border: solid 1px black;

  }
  .comment {
    background-color: #e5e8e8;
  }
}