        .body {
          width: 90%;
        }
        .cards_horizontal {
          display: block;
        }
        .card {
          /*background-color: lightblue;*/
          /*border: solid 1px black;*/
          display: inline-block;
          font-size: 10pt;
          /*display: table;*/
          margin: 3pt;
          margin-bottom: 15pt;
          padding: 3pt;
          width: 45%;
        }
        .card .right {
          float: right;
        }

        .header {
          /*background-color: wheat;*/
          font-family: Arial Black, sans-serif;

          /*display: block;        */
        }
        .card .header *{
          display: inline;
        }
       
        .table {
          /*background-color: #ddd;*/
          border: solid 1pt black;
          /*border-collapse: collapse;*/
          font-family: "Arial Narrow", sans-serif;
          font-size: 10pt;
        }
        .table .heading {
          background-color: #eee;
          border: solid 1pt black;
          font-size: 8pt;
        }
        .table .heading .weight {
          /*background-color: #eee;*/
          /*font-size: 8pt;*/
        }

        .table .heading * {
          background-color: lightgray;
          color: black;
        }
        .table .row {
          /*background-color: wheat;*/
          /*background-color: #ccc;*/
          border: solid 1pt black;
          border-collapse: collapse;
        }
        .table .row .aligned {
          text-align: center;
        }
        /*.table .row .small {
          font-size: 7pt;
        }*/
        .table .row .muscle {
          /*width: 20%;*/
          font-size: 7pt;
        }
        .table .row .exe_name {
          font-size: 9pt;
        }
        .table .row .weight {
          font-weight: bold;
          font-family: "Consolas";
        }
        table {
          border-collapse: collapse;
        }
        table td {
          border: solid 1pt black;

        }